<html>

<head>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>Hi Home Connected to EJS</h1>
    <u;>
        <% for(let i=0;i<6;i++) {%>

    <li>
        <%=i%>
    </li>
        <%}%>
    </u>
</body>

</html>