body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url('../images/back7.jpeg');
    background-size: cover;
}

#tdbox {
    width: 35%;
    height: 99%;
    min-width: 400px;
    background-color: rgb(255, 230, 255);
    border: 1.5px solid rgb(0, 0, 0);
    border: none;
    background: none;
}

#start_box {
    width: 100%;
    height: 30%;
    background-image: url('../images/back7.jpeg');
    background-size: cover;
    padding: 2%;
    color: white;
    border: 3px solid rgb(0, 0, 0);
}

.drp:hover {
    border: 2px solid white !important;
    transition: 0.8s all;
}

.drpmenu {
    color: white;
    width: auto !important;
    background-color: black;
    transition: 0.8s all;
}

.drpmenu li a {
    width: auto;
    color: white;
}

.drp,
.drp:focus,
.drp:active {
    background: none;
    border: none;
}

.drpbtn {
    width: 100%;
    border-radius: 0%;
    height: 30%;
}

#name {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    border: none;
}

.inputbtn {
    background-color: rgb(0, 0, 0);
    border-radius: 0%;
    width: 100%;
    border: none;
    border: 2px solid #ffffff;
    transition: 0.8s all;
}

.inputbtn:hover {
    border: 2px solid rgb(255, 255, 255) !important;
    background-color: black !important;
}

.inputbtn:active {
    border: 2px solid rgb(120, 0, 150) !important;
    background-color: black !important;
}

.inputbox {
    background-color: rgb(0, 0, 0);
}

.inputbox li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mtask,
.mtype,
.mdate,
.mtime,
.msubmit {
    width: 100%;
    height: 2rem;
    background-color: rgb(10, 2, 53);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(167, 0, 173);
    border-radius: 2%;
    text-align: center;
    text-transform: capitalize;
}

.mtask::placeholder {
    color: rgb(255, 255, 255);
}

.mtype {
    width: 20%;
    height: 2rem;
}

.mtype option {
    color: white;
}

input {
    color-scheme: dark;
}

.mdate {
    width: 29.5%;
}

.mtime {
    width: 20%;
}

.msubmit {
    background-color: greenyellow;
    color: black;
    width: 28%;
}

#cbtn {
    background-color: rgb(199, 196, 196);
}

ul {
    list-style-type: none;
}

#handleul {
    list-style-type: none;
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
}

#handleul::-webkit-scrollbar {
    display: none;
}

#handleli {
    width: 100% !important;
    min-height: 3.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.5s all;
    background-color: rgb(0, 0, 0);
    border: none;
    margin: 0.15rem;
    border-radius: 0.25rem;
    ;
}

#handleli:hover {
    border: 2px solid rgb(255, 255, 255);
}

#imgbox {
    height: 90%;
    width: 10%;
    background-color: aqua;
    background-image: url('../images/Per.jpg');
    background-size: cover;
    border-radius: 4%;
}

#write {
    width: 35%;
    overflow: scroll;
    padding: 2%;
    border-radius: 4%;
    background-color: rgb(28, 20, 51);
    color: rgb(255, 255, 255);
    height: 75%;
    font-size: 0.8rem !important;
}

#write::-webkit-scrollbar {
    display: none;
}

#writebox {
    width: 13%;
    border-radius: 6%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

#writebox2 {
    height: 75%;
    border-radius: 4%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 13%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

#writebox3 {
    width: 13%;
    height: 75%;
    border-radius: 4%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

#checkbox {
    width: 14%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 75%;
    align-items: center;
    border-radius: 6%;
}

.dtbtn ul {
    width: 2rem;
}

.btndt {
    width: 1rem;
    background: none;
    border: none;
}

.btndt,
.btndt:focus,
.btndt:active,
.btndt:hover {
    background: none;
    border: none;
}

.checked {
    border: 2px solid rgb(0, 0, 0) !important;
    background-color: #9cffa8 !important;
    transition: 0.8s all;
    border: none !important;
    color: rgb(0, 0, 0) !important;
}

.checked div {
    color: rgb(0, 0, 0) !important;
}

.checked:hover {
    border: 2px solid rgb(255, 255, 255) !important;
}

#write {
    color: white !important;
}

.not a i {
    color: #aeffae
}

.click a i {
    color: red;
}

#counting {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aeffae;
    font-size: 1rem;
    justify-content: space-between;
    padding: 0.3rem;
}

#counter {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#done {
    color: rgb(204, 255, 129);
}

#notdone {
    color: rgb(255, 54, 18);
}

.nc div {
    color: white !important;
}
#write
{
text-transform: capitalize;
}